/*COMEÇO DISPOSITIVOSDIFERENTES*/
@media screen and (max-width: 1300px) {

    /*CLASSES GERAIS*/
    .flex {
        flex-direction: column;
    }

    /*ESTILO DO MENU*/
    header {
        align-items: center;
    }

    .btn-menumobile {
        size-adjust: 10px;
    }

    .menupc {
        display: none;
    }

    .btn-menumobile {
        display: block;
    }

    .logo #logo-pagina {
        width: 100%;
        align-items: center;
    }

    /*ESTILO TOPO SITE*/
    section.topo-do-site {
        padding: 30px 4%;
    }

    section.topo-do-site .flex {
        padding: 50px 30px;
    }

    .topo-do-site .txt-topo-site h3 {
        font-size: 24px;
        text-align: center;
    }

    .topo-do-site .txt-topo-site p {
        font-size: 15px;
        margin: 10px;
    }

    .topo-do-site .img-topo-site img {
        width: 310px;
        height: auto;
        margin-left: 0;
        margin-top: 15px;
    }

    /*PORTFOLIO*/
    section.portfolio {
        padding: 30px 4%;
    }

    .portfolio .interface {
        padding: 50px 30px;
    }

    .porfolio h3 {
        font-size: 24px;
        text-align: justify
    }

    .img-port {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
    }

    section.portfolio .flex {
        gap: 50px;
    }

    .overlay {
        font-size: 25px;
        text-align: center;
    }

    /*RODAPE*/
    footer .flex {
        align-items: center;
    }


    /*PAGINA BIBLIOTECA*/
    section.topo-da-biblio {
        padding: 30px 4%;
    }

    .topo-da-biblio h3#titulo {
        font-size: 24px;
    }

    .topo-da-biblio .flex-bibli {
        display: block;
    }

    .flex-bibli .livros {
        margin-bottom: 15px;
        text-align: justify;
        font-size: 15px;
    }

    .flex-bibli::before {
        display: none;
    }


    /*ESTILO ATIVIDADES*/

    .tudoativo {
        padding: 30px 4%;
    }

    .tudoativo .interface h3 {
        font-size: 22px;
        text-align: center;
    }

    .tudoativo p {
        font-size: 15px;
        margin: 10px;
        text-align: justify;
    }

    .tudoativo .interface {
        display: block;
        padding: 50px 30px;
        margin-bottom: 40px;
        margin-top: 50px;
    }

    .interface .tituloedescricao,
    .flex {
        margin-bottom: 15px;
        text-align: justify;
        font-size: 15px;
    }

    .interface::before {
        display: none;
    }

    .img-act {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
    }

    /*tertuliana lustosa*/
    section.topo-da-livrelivro .txtlivrelivro {
        margin: 15px;
    }

    .topodotexto {
        display: flex;
        flex-direction: column;
    }

    .txtlivrelivro .corpodotexto p.capt {
        text-indent: 0rem;
    }

    .txtlivrelivro .corpodotexto p.corpo {
        font-size: 15px;
        text-indent: 2rem;
    }

    .txtlivrelivro .corpodotexto p.citac {
        font-size: 90%;
        margin-left: 4rem;
    }

    .imagemnotexto img {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
    }

    .corpodotexto .imagemnotexto .overlaytxt .legendadaobra {
        font-size: 20px;
        margin: 35px;
    }

    .corpodotexto .imagemnotexto .overlaytxt2 .legendadaobra {
        font-size: 20px;
        margin: 35px;
    }


    /*ATIVIDADE FOTOS DA GALERIA ABAIXO*/
    .primeiraact {
        padding: 30px 4% !important;
    }

    section.primeiraact .bloco {
        padding: 25px !important;
    }

    .primeiraact .imagensact img {
        width: 100%;
        height: auto;
        display: block;
        border: 1px solid #f11;
        transition: 0.3s ease;
    }

    .primeiraact .imagensact img:hover {
        transform: scale(1.02);
        opacity: 0.9;
    }

    .primeiraact .texto1acao h3 {
        font-size: 24px;
        text-align: center;
    }

    .primeiraact .texto1acao p {
        font-size: 15px;
    }

    .primeiraact h2 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 15px;
    }

    .video-container {
        width: 1180px;
        height: 664px
    }
}